<html>

<head>
    <meta charset="utf-8">
    <meta name=viewport content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/css/bootstrap.css">
</head>


<body class="body">
  {{#if admin}}
  <ul class="topnav" id="myTopnav">
    <li><a href="/logout">Logout</a></li>
    <li class="icon">
      <a href="javascript:void(0);" style="font-size:15px;" onclick="myFunction()">☰</a>
    </li>
  </ul>
  {{/if}}

{{#if user}}
{{#unless admin}}
  <ul class="topnav" id="myTopnav">
    <li class="active"><a href="/">Home</a></li>
    <li><a href="/registration">Registration</a></li>
    <li><a href="/editDetails">Edit Details</a></li>
    <li><a href="/logout">Logout</a></li>
    <li class="icon">
      <a href="javascript:void(0);" style="font-size:15px;" onclick="myFunction()">☰</a>
    </li>
  </ul>
{{/unless}}
{{/if}}

{{#unless admin}}
{{#unless user}}
<ul class="topnav" id="myTopnav">
  <li><a href="/signup">Sign Up</a></li>
  <li><a href="/login">Login</a></li>

  <li class="icon">
    <a href="javascript:void(0);" style="font-size:15px;" onclick="myFunction()">☰</a>
  </li>
</ul>
{{/unless}}
{{/unless}}
<div class='container'>
{{{body}}}
</div>


    <footer id="footer">
      <nav class="navbar navbar-inverse navbar-full navbar-fixed-bottom text-center">
        <h4>Easy Scrum Easy Go</h4>
      </nav>
    </footer>
    <script src="/js/jquery.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
</body>

</html>
