<html>

<head>
    <meta charset="utf-8">
    <meta name=viewport content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/css/bootstrap.css">
</head>


<body class="body">
  <header>
    <nav class="navbar navbar-inverse navbar-full navbar-fixed-top" id="nav">___Librarify___
      <button class="navbar-toggler hidden-xs-up" type="button" data-toggle="collapse" data-target="#exCollapsingNavbar2" aria-controls="exCollapsingNavbar2" aria-expanded="false" aria-label="Toggle navigation">
        &#9776;
</button>

      <div class="collapse navbar-toggleable-xs" id="exCollapsingNavbar2">
        <ul class="nav navbar-nav">
          {{#if user}}
          <li class="nav-item">
            <a class="nav-link" href="/">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/registration">Registration</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/editDetails">Edit details</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/logout" style="float:right">Logout</a>
          </li>

        {{else}}
          <li class="nav-item">
            <a class="nav-link" href="/">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/logout" style="float:right">Logout</a>
          </li>
          {{/if}}
        </ul>
      </div>

    </nav>
  </header>
    <div class="container-fluid" id="container">

        <div class="col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2">


            <div role="main" >
                {{{body}}}

            </div>
        </div>
    </div>


    <footer id="footer">
      <nav class="navbar navbar-inverse navbar-full navbar-fixed-bottom text-center">
        <h4>Easy Scrum Easy Go</h4>
      </nav>
    </footer>
    <script src="/js/jquery.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
</body>

</html>
