<h3>
Your One Time PIN has been emailed to {{info.email}}!
</h3>
{{registered}}
{{info}}
<h3>
No one time pin, register below.<br>
<a href="/registration">Registration</a>
</h3>

<br>
<h3>
you can also edit details here.<br>
<a href="/editDetails">Edit details</a>
</h3>
