<h1>Please upload an picture of yourself:</h1>


<form action = "/picture" method = "POST" enctype = "multipart/form-data">
     <div class="file-field input-field">
       <div class="btn">
         <span>File</span>
         <input type="file" name = "image">
       </div>
       <div class="file-path-wrapper">
         <!-- <input class="file-path validate" type="text" required> -->
       </div>
       <input class = "btn" type = "submit" value = "Upload Image">
     </form>
     </div>
</form>
