<form class="form-horizontal" role="form" action="/registration" METHOD="POST">
  <h1>Registration</h1>
  <div class="form-group">
    <label class="control-label col-sm-2" for="name">Name:</label>
    <div class="col-sm-10">
      <input type="text" class="form-control" id="name" name="name" placeholder="Enter your name">
    </div>
  </div>
  <div class="form-group">
    <label class="control-label col-sm-2" for="surname">Surname:</label>
    <div class="col-sm-10">
      <input type="text" class="form-control" id="surname" name="surname" placeholder="Enter your surname">
    </div>
  </div>
  <div class="form-group">
    <label class="control-label col-sm-2" for="username">Username:</label>
    <div class="col-sm-10">
      <input type="text" class="form-control" id="username" name="username" placeholder="Enter your username">
    </div>
  </div>
  <div class="form-group">
    <label class="control-label col-sm-2" for="address">Address:</label>
    <div class="col-sm-10">
      <input type="text/number" class="form-control" id="address" name="address" placeholder="Enter your address">
    </div>
  </div>
  <div class="form-group">
    <label class="control-label col-sm-2" for="number">Cell number:</label>
    <div class="col-sm-10">
      <input type="text" class="form-control" id="cell-number" name="cell-number" placeholder="Enter your number">
    </div>
  </div>
  <div class="form-group">
    <label class="control-label col-sm-2" for="email">Email:</label>
    <div class="col-sm-10">
      <input type="email" class="form-control" id="email" name="name" placeholder="Enter email">
    </div>
  </div>
  <div class="form-group">
    <label class="control-label col-sm-2" for="ID-number">ID number:</label>
    <div class="col-sm-10">
      <input type="text" class="form-control" id="ID-number" name="ID-number" placeholder="Enter your ID-number no.">
    </div>
  </div>

  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
      <a type="submit" onClick="insertData();" value="DataGrabber" class="btn btn-default" href="/">Submit</a>
    </div>
  </div>
</form>
